@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
img {
	vertical-align: middle;
}
a, a:visited {
	color: #333;
	text-decoration: none;
	outline: none;
}
a:hover, a:active, a:focus {
	background-color: transparent;
}
.pt1{
/*	margin-left: 20px;*/
}
/* search_box */
.search_box {
	
}
.select_hover {
	background: #fff no-repeat 76px 15px;
}
.select{
	vertical-align:middle;
}
.select a{
	
	margin-left: 25px;
	color: #4eb0f6;
}
.select_over{
	margin-left: -20px;
	margin-top: 10px;
	height: 320px;
	width: 255px;
	background: #fff;
}
.select_over_content{
	display: inline-block;
	margin-top: 10px;
	margin-left:11px;
}
.select_over_group{
	
	margin-left:15px;
}
.group_title{
}
.group_member{
	margin-top: 10px;
}
.main_date{
	margin-left:10px;
	margin-top: 5px;
}
.main_grade{
	margin-left: 10px;
	margin-top: 5px;
}
.main_word{
	color: #808080;
	vertical-align: middle;
	margin-left: 10px;
}



