@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.icon_time{
	height: 20px;
}
#banner_identity{
	margin-left: 15px;
}
#banner{
	border-bottom: 2px solid #e5e5e5;
	height: 60px;
	margin-top: 20px;
}
#banner_left{
	width: 32%;
/*	margin-left: 20px;*/
	height:auto;
	margin-top: 10px;
	
}
.new_tip{
	/*border: 1px solid red;*/
	height: 120px;
	width:90%;
	margin-left: 5%;
	margin-top: 40px;
	/*background: #fff;*/
	-webkit-border-radius:10px;

}
.new_tip_left{
	position: relative;
	height: 100%;
	width: 35%;

	padding-left: 4%;
	/*margin:0 auto;*/
	/*padding-top: 4%;*/
}
.left_pic{
	border-radius: 50%;
	width: 70px;
	height:70px;
	background: #fff;
	color: #8e8e8e;
	/*padding-left: -30px;*/
	font-size: 2.7em;
	text-align: center;
	line-height: 70px;

	margin:0 auto;
	margin-top: 10px;


}
.left_name{
	display: block;;
	font-size: 1.2em;
	font-weight:100px;
	margin-top: 10px;

	/*border: 1px solid red;*/
	/*margin-left: 24%;*/
	color: #8e8e8e;
	text-align: center;
	margin:0 auto;
	/*padding-left: 10%;*/
}
.left_grade{
	/*margin-left: -30%;*/
	display: inline-block;
	/*font-weight: 5;*/
	width: 4%;
	margin-top:-30px;
	height: 25px;
	border-top-right-radius:10px;
	border-bottom-right-radius: 10px;
	line-height: 25px;
	/*border: 1px solid red;*/
	background: #009e96;
	font-size: 1.1em;
	color: #fff;
	position: absolute;
	/*color: #c5c5c5;*/
	/*font-size: 1.2em;*/
	text-align: center;
}
.new_tip_right{
	width: 97%;
	/*background: #fff;*/
	/*border:1px solid red;*/
	/*filter:alpha(opacity=50);*/
	/*opacity:0.7;*/
	vertical-align: top;
	margin-top: 30px;
	margin-left: 25px;


}
.time_ope{

	text-decoration:overline;
	border: 1px solid red;
	width: 150%;
	color: #b9b8b8;
	/*border-top: 1px solid red;*/
	margin-left: 10%;
	padding-left: 7%;
	/*padding-right: 10%;*/
}
.time_ope_line{
	width: 7%;
	border-top: 1px solid #b9b8b8;
	height: 0.4em;


	/*text-decoration:overline;*/

}
.tip_right{
	vertical-align: top;
	margin-top: 20px;
	/*background: #fff;*/
	background-color: rgba(255,255,255,0.6);
	/*filter:alpha(opacity=50);*/
	/*opacity:0.5;*/
	/*background-color:transparent;*/
	width: 66%;

	margin-left: -10px;

}
.right_title a:hover,.right_title a:visited,.right_title a:active,.right_title a,.right_title a:link{
	color: #000;
}
.right_title{
	font-size: 1.1m;
	width:220px;
	/*overflow: hidden;;*/
	/*text-overflow: ellipsis;;*/
	/*white-space: nowrap;*/


}
.right_state{
	/*height: ;*/
}
.right_state_running{
	font-size: 0.9em;
	height: 20px;
	width:4em;
	text-align: center;
	/*margin-left: 10p%;*/
	/*margin-right: 50%;*/
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #a1d4ac;
}
.right_state_nonJudge{
	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	margin-left:  0;
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #ff3556;

}
.right_state_judge{

	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	margin-left:  0;
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #a1d4ac;
}
.right_state_done{
	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	/*margin-right: 50%;*/
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #4eb0f6;
}
.right_state_over{
	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	/*margin-right: 50%;*/
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #4eb0f6;
}
.right_state_nonAbove{

	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	margin-left:  0;
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #ff3556;
}
.right_state_above{

	font-size: 0.9em;
	/*width: 30px;*/
	height: 20px;
	width:4em;
	text-align: center;
	margin-left:  0;
	margin-top: 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;

	background: #a1d4ac;
}
.left_above{

	width: 70%;
	margin-left: -5%;
	margin-top: 15px;
	vertical-align: middle;
}
#sear_float{
	
	z-index: 5;
	background: #f8f8f8;
	position: fixed;
	margin: 10px;
	width: 20%;
	height: auto;
	border-radius: 10px;
	/*margin-left: 1180px;*/
	margin-top: -10px;
}

#self_around{
	display: none;
	height: auto;
	margin-left:30% ;
}
.identity_top{
	font-size: 1.5em;
	/*position: absolute;*/
	color: #000;
	margin-left: 30px;
	margin-top: -40px;
}
#add_around{
	display: none;
	height: auto;
	margin-left:78% ;
}
#float_search{
	margin: 0 auto;
	width: 90%;
	margin-top: 10px;
}
#add_float_scroll{
	height: 73%;
	overflow-y: scroll;
}
.add_float_invite{
	padding-left: 4%;
	margin-top: 10px;
	height: 50px;
	line-height: 50px;

}
.add_float_invite:hover{
	background: #eeeeee;
}
#account_set{
	/*background: red;*/

	margin-left: 30px;
}
.float_invite{
	background: url("../images/add.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 35px;
	height: 35px;
	vertical-align: middle;
}
.float_invite_word{
	vertical-align: middle;
	font-size: 1.1em;
	color: #3ec8f5;
	
}
.float_member{
	background: #e5e5e5;
	border-radius: 50%;
	color: #fff;

	-webkit-background-size: cover;
	background-size: cover;
	width: 35px;
	height: 35px;
	vertical-align: middle;
	font-size: 1.5em;
	text-align: center;
	line-height: 35px;
}
.float_member_word{
	vertical-align: middle;
	font-size: 1.1em;
	/*color: #3ec8f5;*/
	margin-left: 5px;

}
.float_member_identity_major{
	background: #e3bf4e;
	color: #fff;
	vertical-align: middle;;
	width: 65px;
	text-align: center;
	margin-left: 10px;
	/*padding: 2px;*/
	height: 20px;
	line-height: 20px;
	border-radius: 3px;
}
.float_member_identity_assist{
	background: #43b1e3;
	color: #fff;
	vertical-align: middle;;
	width: 65px;
	text-align: center;
	margin-left: 10px;
	/*padding: 2px;*/
	height: 20px;
	line-height: 20px;
	border-radius: 3px;
}
.float_member_identity_stu{
	background: #a1d4ac;
	color: #fff;
	vertical-align: middle;;
	width: 65px;
	text-align: center;
	margin-left: 10px;
	/*padding: 2px;*/
	height: 20px;
	line-height: 20px;
	border-radius: 3px;
}
.float_member_icon{
	width: 35px;
	height: 35px;
	background: url("../images/removePeo.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	vertical-align: middle;
	margin-left: 3%;
}
.add_float_bottom{
	position: absolute;;
	margin-top: 10px;
	color:#808080;
	font-size: 0.9em;
	margin-left: 10px;
}
.add_float_num{
	display: inline-block;
}
#addTea_set{
	/*background: red;*/

	margin-left: 30px;
}
#turn_out{

	margin-left: 30px;
}
#addStu_out{

	margin-left: 30px;
}
#self_account_set:hover{
	background: #f5f5f5;
}
#self_tea_set:hover{
	background: #f5f5f5;
}
#self_turn_out:hover{
	background: #f5f5f5;
}
#self_stu_out:hover{
	background: #f5f5f5;
}
#addSearchTea{
	/*border: 1px solid blue;*/
	height: 50px;
	width: 100%;
}
#addSearchStu{
	/*border: 1px solid blue;*/
	height: 50px;
	width: 100%;
}
#addSearchLinkTea{
	/*border: 1px solid blue;*/
	height: 50px;
	width: 100%;
}
#teaInput{
	margin-left: 3%;
	width: 20%;
}
#teaInputBtn{
	margin-left: 1%;
	width: 10%;
	color: #fff;
}
#teaInput_LinkTea{
	margin-left: 3%;
	width: 20%;
}
#teaInputBtn_LinkTea{
	margin-left: 1%;
	width: 10%;
	color: #fff;
}
#teaInput_stu{
	margin-left: 3%;
	width: 20%;
}
#teaInputBtn_stu{
	margin-left: 1%;
	width: 10%;
	color: #fff;
}
.registerName{

	/*width: 50%;*/
	margin:0 auto;
	margin-top: 15px;
}
.registerTeaName{

	margin:0 auto;
	margin-top: 15px;
}
#expDesc{
	margin: 0 auto;
	margin-top: 15px;
}
.liScroll{
	position: absolute;;
	/*border: 1px solid red;*/
	width: 28%;
	margin-left: 8%;
	margin-top: -25px;
}
.liDoing{
	/*width: 13%;*/
	/*background: #a1d4ac;*/
	/*color: #fff;*/
	/*font-size: 0.9em;*/
	/*text-align: center;*/
	/*border-radius: 5px;*/
	/*display: inline-block;;*/
	/*border: 1px solid red;*/

	display: inline-block;
	width: 18%;
	border-bottom:4px solid #aeaeae;
	color: #aeaeae;
	text-align: center;
	font-weight: 500;
	margin-left: -3px;
}
/*.liUnDoing{*/
	/*width: 13%;*/
	/*background: #d5d5d5;*/
	/*font-size: 0.9em;*/
	/*color: #fff;*/
	/*text-align: center;*/
	/*border-radius: 5px;*/
	/*display: inline-block;;*/

/*}*/
.liUnDoing{
	/*border: 1px solid red;*/
	margin-left: -3px;
	display: inline-block;
	width: 18%;
	border-bottom:4px solid #e2e2e2;
	color: #d2d2d2;
	text-align: center;
	/*font-size: 0.9em;*/
}
.liWid{
	background: url("../images/rightArrow.png") no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
	vertical-align: middle;;
	/*text-decoration:line-through;*/
	color: #d5d5d5;
}
.chooseWord{
	margin-top: 30px;
	text-align: center;
	font-size: 1.3em;
}
.chooseCho{
	margin-top: 20px;

}
.chooseChoSearch{
	width: 30%;
	margin-left: 17%;
}
.chooseChoAdd{
	margin-left: 5%;

}
#registerBtn{
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;

}
#addDetailSelect{
	/*border: 1px solid red;*/
	height:350px;
	width: 22%;
	border-right: 2px solid #e5e5e5;
	margin-top: -15px;
}
#addDetailStu{
	/*border:1px solid red;*/
	height: 100%;
	width:90%; ;
	position: absolute;
	margin-left: 10px;
}
#addDetailLinkTea{
	/*border:1px solid red;*/
	height: 100%;
	width:90%; ;
	position: absolute;
	margin-left: 10px;
}
#addDetailTea{
	/*border:1px solid red;*/
	height: 100%;
	width:70%; ;
	position: absolute;
	margin-left: 10px;
}
.addDetailTea,.addDetailStu{
	color: #a5a5a5;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;

}
.addDetailStu:hover,.addDetailTea:hover{
	background: #eeeeee;
}
.registerStu{
	color: #a2a2a2;
}
.tea_ipt{
	width: 90%;
}
.tea_name_ipt{
	display: inline-block;
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;

}
.tea_account_ipt{
	width: 50%;
	margin: 0 auto;
	margin-top: 15px;

}
.addHr{
	width: 100%;
	background-color: #fff;
	 /*border: none;*/
	 border:0.5px solid #cacaca;
 }
 .addDetail{
	 margin:20px;
	 /*border:1px solid red;*/
 }
 .addDetailTip{
	 /*border:1px solid red;*/
	 /*border:1px solid red;*/

	 width: 23%;
	 margin-left: 1.25%;
	 height: 150px;
	 display: inline-block;;
 }
 .addDetailTipWord{
	 vertical-align: top;
	 width: 35%;
	 margin-left: 7%;
	 text-align: center;
	 font-weight: 500;
	 /*border:1px solid red;*/
 }
 .wordName{
	 /*margin-top: 10px;*/
	 font-size: 1em;
	 text-align: center;
	 /*margin-left: 8px;*/
	 margin-top: 5px;
	 /*border:1px solid red;*/
 }
 .wordBtn{
	 margin-top: 10px;
	 height: 30px;
	 line-height: 30px;

 }
 .addDetailTipImg{
	 background:#d5d5d5;
	 width: 70px;
	 height: 70px;
	 color: #fff;
	 border-radius: 50%;
	 font-size: 3em;
	 text-align: center;

	 line-height: 70px;
 }
.self_mesg{

	height: 50px;
	line-height: 50px;
	font-size: 1.1em;
	color: #383838;
	border-bottom: 1px solid #e5e5e5;
}
#self_float{
	box-shadow: 3px 3px 10px #686363;
	height: auto;

	z-index: 5;
	background: #fff;
	position: absolute;
	margin: 10px;
	width: 16%;
	border-radius: 5px;
	float: left;
}
#add_float{
	box-shadow: 3px 3px 10px #686363;
	height:80%;

	z-index: 5;
	background: #fff;
	position: absolute;
	margin: 10px;
	width: 20%;
	border-radius: 5px;
	float: left;
}
.add_float_top{
	height: 50px;
	line-height: 50px;
	/*border-bottom: ;*/
}
#add_float_hr{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
}
.float_top_number{
	font-size: 1.1em;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	/*padding-left:20%;*/
	/*margin-left: 10%;*/
	width:100%;
	
}
.float_top_cancel{
	position: absolute;
	margin-left: -50px;
	margin-top: 16px;
	background: url("../images/mis.png") no-repeat;
	-webkit-background-size: cover;
	vertical-align: middle;
	background-size: cover;
	width: 20px;
	height: 20px;
}
#self_info{
	width:35px;
	color:#fff;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	background: #dcdcdc;
	margin-left: 20px;
	font-size: 1.7em;
	text-align: center;
	vertical-align: middle;;
}
#sear_around{
	margin-left:77%;

	/*float:right;	*/
/*	display: none;*/
}
#banner_mid{
	width:33%;
	
}
#banner_right{
	width: 26%;
	right: 0;
/*	float: right;*/
	
}
.headPic{
	width:40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;;
	margin-left: 7%;
	color:#fff;
	font-size: 1.5em;
	background: #dcdcdc;
}
#guidance{
	
	height: 50px;
	background: #f5f5f5;	
}
#guidance_logo,#task,#file,#resource,#searchTitle{
	
/*	padding-bottom: 15px*/
	margin-top: 15px;
}
#left{
	 font-size: 1.1em;
	font-weight: 500;
	margin-left: 20px;
	width: 38%;
	
}
#mid{
	display: inline-block;
/*	margin-left: 500px;*/
/*	margin: 0 auto;*/
	height: inherit;
	width: auto;
	width: 30%;
/*	border: 1px solid blue;*/
		
}
#temp{
	width: 17%;
}
#right{
	width:10%;
}
#left,#right,#mid,#temp{
}
#left_origin a:hover{
	color: #4eb0f6;
	text-decoration: none;
}
#left_name a:hover{
	color: #8e8e8e;
	text-decoration: none;
}
#task,#file,#history,#eye,#searchTitle{
/*	margin-left: 10px;*/
	height: 32px;
	border-bottom: 0px;
	font-size: 1.2em;
	
	
}
#task{
	margin-left: -20px;
}
#file,#resource,#eye,#history,#searchTitle{
	margin-left: 40px;
}
#main{
	margin-left: 5px;
}
#none_text{
	text-align: center;
	font-size: 3em;
	color: #ddd;
	margin-top: 5em;
	
	
}
#message,#sear_float{
	background: #fff;
}
.mess_cont{
	height: 55px;
	border-bottom: 2px solid #f8f8f8;
}
.mess_top{
	border-bottom: 2px solid #f8f8f8;
	font-size: 1.4em;
	font-weight: 500;
	color: #939393;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.mess_cont_word{
	margin-top: 10px;
	margin-left: 15px;
	height: 70px;
}
.mess_cont_btn{
	margin-top: -43px;
	margin-left: 195px;
}
.cont_btn_agree{
	height: 18px;
	line-height: 18px;
	width:30px;
	color: #fff;
	padding-left: 2px;
	border-radius: 5px;
	background: #8db1be;
	display: inline-block;
	font-size: 0.8em;
	
}
.cont_btn_refuse{
	padding-left: 2px;
	margin-left: 5px;
	height: 18px;
	line-height: 18px;
	width:30px;
	color: #fff;
	border-radius: 5px;
	background: #c6c6c6;
	display: inline-block;
	font-size: 0.8em;
	
}
.cont_word_pic1{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #7e99b0;
}
.cont_word_pic2{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #888787;
}
.cont_word{
	color: #8d8d8d;
}
.divide_date{
	background: #fff;
/*	text-align: center;*/
	margin-left: 120px;
	width: 54px;
	font-size: 0.8em;
	/*margin-top: -8px;*/
	color: #c4c5c7;
}
.display{
	display: inline-block;
}
.left_length{
	margin-left: 10px;
	margin-right: 10px;
}

.tea_main_style{


	/*	margin: 13px;*/
	margin-top: 15px;
	margin-left: 2%;
	width: 30.6%;
	/*background: #ECECEC;*/
	background:url("../images/tea-back.png") no-repeat;
	background-size: cover;
	height:230px;
	-webkit-border-radius:10px;


}
.main_style{


/*	margin: 13px;*/
	margin-top: 15px;
	margin-left: 2%;

	width: 30.6%;
	/*background: #ECECEC;*/
	/*background:url("../images/back.jpg") no-repeat;*/
	background:#f5f5f5;
	background-size: cover;
	height:180px;
	-webkit-border-radius:10px;
	
	
}
.time_ope_width{
	/*border:1px solid red;*/
	height: 0.4em;
	display: inline-block;;
	width: 12%;
	border-top: 1px solid #c5c5c5;
}
.verticleAlign{
	vertical-align: middle;
}
.main_style_left{
	width: 1%;
}
.main_style_leng{
	width: 2%;
}
.main_style_right{
	width: 1%;
}
.deadline{
	float: right;
	color: 0.8em;
	margin-top: 1em;
	color: #be7171;
/*	margin-right: 20px;*/
}
	
.main_style_rImg{
	margin-left: 30px;
}
.title{
	display: inline-block;
	/*text-align: center;*/
	margin-left: 20px;
	height: 30px;
	margin-top: 20px;
	font-size: 1.4em;
	/*border: 1px solid red;*/
}
.title_word{
	vertical-align: middle;
	/*border: 1px solid red;*/
}
.title_word_limit{
	display: inline-block;
	/*vertical-align: center;*/

	text-overflow: ellipsis;
	overflow: hidden;;
	white-space: nowrap;;
	width: 4em;
	margin-left: 10%;


}
.title_circle{
	height: 21px;
	width: 21px;
/*	background: red;*/
	background-color: #e98249;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.menu_color{
	color: #000;
}
.main_style_tip span{
	margin-left: 5px;
	margin-top: 10px;
	position: absolute;
}
.tip_judge{
	/*border: 1px solid red;*/
	width: 10px;
	height: 100px;
	
}
.tip_word_title{
	font-size: 1.2em;
	font-weight: 150;
}
.main_style_footer_word{
	margin-top: 15px;
	margin-left: 35px;
}
.main_style_footer_word a{
	
	color: #4eb0f6;
}
.position{
	position: absolute;
}
