@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

#banner{
	border-bottom: 2px solid #e5e5e5;
	height: 60px;
}
#banner_left{
	width: 32%;
/*	margin-left: 20px;*/
	height:auto
	margin-top: 10px;
	
}
#sear_float{
	
	z-index: 5;
	background: #f8f8f8;
	position: fixed;
	margin: 10px;
	width: 20%;
	height: auto;
	border-radius: 10px;
	margin-left: 1180px;
	margin-top: -10px;
}

#sear_around{
	margin-left: -18px;
/*	display: none;*/
}
#banner_mid{
	width:33%;
	
}
#banner_right{
	width: 26%;
	right: 0;
/*	float: right;*/
	
}
#banner_left,#banner_mid,#banner_right{
}
#message{
	
}
#guidance{
	
	height: 50px;
	background: #f5f5f5;	
}
#guidance_logo,#task,#file,#resource{
	
/*	padding-bottom: 15px*/
	margin-top: 15px;
}
#left{
	 font-size: 1.1em;
	font-weight: 500;
	margin-left: 20px;
	width: 38%;
	
}
#mid{
	display: inline-block;
/*	margin-left: 500px;*/
/*	margin: 0 auto;*/
	height: inherit;
	width: auto;
	width: 30%;
/*	border: 1px solid blue;*/
		
}
#temp{
	width: 17%;
}
#right{
	width:10%;
}
#left,#right,#mid,#temp{
}
#left_origin a:hover{
	color: #4eb0f6;
	text-decoration: none;
}
#left_name a:hover{
	color: #000;
	text-decoration: none;
}
#task,#file,#resource,#eye{
/*	margin-left: 10px;*/
	height: 32px;
	border-bottom: 0px;
	font-size: 1.2em;
	
	
}
#task{
	margin-left: -20px;
}
#file,#resource,#eye{
	margin-left: 40px;
}
#main{
	margin-left: 5px;
}
#none_text{
	text-align: center;
	font-size: 3em;
	color: #ddd;
	margin-top: 5em;
	
	
}
.mess_cont{
	height: 55px;
	border-bottom: 1px solid #d7d7d7;	
}
.mess_top{
	border-bottom: 1px solid #d7d7d7;
	font-size: 1.4em;
	font-weight: 500;
	color: #939393;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.mess_cont_word{
	margin-top: 10px;
	margin-left: 15px;
	height: 70px;
}
.mess_cont_btn{
	margin-top: -43px;
	margin-left: 195px;
}
.cont_btn_agree{
	height: 18px;
	line-height: 18px;
	width:30px;
	color: #fff;
	padding-left: 2px;
	border-radius: 5px;
	background: #8db1be;
	display: inline-block;
	font-size: 0.8em;
	
}
.cont_btn_refuse{
	padding-left: 2px;
	margin-left: 5px;
	height: 18px;
	line-height: 18px;
	width:30px;
	color: #fff;
	border-radius: 5px;
	background: #c6c6c6;
	display: inline-block;
	font-size: 0.8em;
	
}
.cont_word_pic1{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #7e99b0;
}
.cont_word_pic2{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #888787;
}
.cont_word{
	color: #8d8d8d;
}
.divide_date{
	background: #f8f8f8;
/*	text-align: center;*/
	margin-left: 120px;
	width: 54px;
	font-size: 0.8em;
	margin-top: -8px;
	color: #c4c5c7;
}
.display{
	display: inline-block;
}
.left_length{
	margin-left: 10px;
	margin-right: 10px;
}
.main_style{
	
	
/*	border: 1px solid blue;*/
/*	margin: 13px;*/
	margin-top: 15px;
	width: 30.6%;
	background: #ECECEC;
	height: 290px;
	-webkit-border-radius:10px;
	
}
.verticleAlign{
	vertical-align: middle;
}
.main_style_left{
	width: 1%;
}
.main_style_leng{
	width: 2%;
}
.main_style_right{
	width: 1%;
}
.main_style_belly{
	width: 90%;
	height: 30px;
	color: #a5a5a5;
	margin-bottom: 2em;
	display: inline-block;
}
.deadline{
	float: right;
	color: 0.8em;
	margin-top: 1em;
	color: #be7171;
/*	margin-right: 20px;*/
}
	
.main_style_rImg{
	margin-left: 30px;
}
.title{
	display: inline-block;
	text-align: center;
	margin-left: 20px;
	height: 30px;
	margin-top: 20px;
	font-size: 1.4em;
}
.title_word{
	vertical-align: middle;
}
.title_circle{
	height: 21px;
	width: 21px;
/*	background: red;*/
	background-color: #e98249;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.menu_color{
	color: #000;
}
.main_style_tip{
	
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	background:#fff;
	height: auto;
	-webkit-border-radius:10px;
	position: relative;
	
}
.word_title_img{
	float: right;
	margin-right: 2em;	
	width: 30px;
}
.main_style_tip span{
	margin-left: 5px;
	margin-top: 10px;
	position: absolute;
}
.tip_judge{
	border: 1px solid red;
	width: 10px;
	height: 100px;
	
}
.main_style_tip_word{
	margin-top: 5px;
	
	margin-left: 35px;
	display: inline-block;
	vertical-align: middle;
/*	position: absolute;*/
}
.tip_word_title{
	font-size: 1.2em;
	font-weight: 150;
}
.main_style_footer_word{
	margin-top: 15px;
	margin-left: 35px;
}
.main_style_footer_word a{
	
	color: #4eb0f6;
}
.position{
	position: absolute;
}
