
<!DOCTYPE html>

<html class="region-default"><head>
    

	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/style1.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">




    <meta property="og:image" content="../static/images/squarespace.jpg" />
    <meta property="og:image:secure_url" content="../static/images/squarespace.jpg" />

  
<base href="">
<meta charset="utf-8" />
<title></title>
<meta property="og:type" content="website"/>
<meta property="og:image" content="../static/images/squarespace.jpg?format=1000w"/>
<meta property="og:image:height" content="525"/>
<meta itemprop="name" content="Build a Website"/>
<meta itemprop="url" content="https://www.squarespace.com/"/>
<meta itemprop="thumbnailUrl" content="../static/images/squarespace.jpg?format=1000w"/>
<link rel="image_src" href="../static/images/squarespace.jpg?format=1000w" />
<meta itemprop="image" content="../static/images/squarespace.jpg?format=1000w"/>
<meta name="twitter:image" content="../static/images/squarespace.jpg?format=1000w"/>
<meta name="twitter:card" content="summary"/>
<meta name="description" content="Squarespace is the all-in-one solution for anyone looking to create a 
beautiful website. Domains, eCommerce, hosting, galleries, analytics, and 
24/7 support all included." />
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>

<script>
window._prum = [['id', '520b907babe53db940000001'],
            ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
<script>
  window._sqspvat = true;
  window._sqspcookiebanner = true;
  window._sqspdynamicpricing = true;
  window._sqspmulticur = true;
  window._sqspmultilang = true;
  // window._sqspSuperbowl = true;
  window._sqspDomainTransfer = true;
  window.TEMPLATES_ARE_SEARCHABLE = true;
  window.KEANU_LAUNCHED = true;
  window.hasGermanLanguage = true;
  window.equalPayDay = function() {
    var start = new Date('April 10, 2018 00:00:00 GMT-0400');
    var end = new Date('April 11, 2018 00:00:00 GMT-0400');
    var now = new Date();
    return now > start && now < end;
  }();
</script>
    <script id='build-stamp' data-build-id='033bc1fc953e5b04ae7e040463fd2d63'>window.__templateVersion = '033bc1fc953e5b04ae7e040463fd2d63'</script>

    <meta property="og:image" content="../static/images/squarespace.jpg" />
    <meta property="og:image:secure_url" content="../static/images/squarespace.jpg" />

  
	<link rel="stylesheet" href="../static/css/index_site.css">
	
	
	<script type="text/javascript">
	window.onload=function(){
		var submit=document.getElementById("submit-w3l-submit");
		submit.onclick=function(){
			
		if(window.ActiveXObject&&!window.XMLHttpRequest){
			window.XMLHttpRequest=function(){
				xmlHttp=null;
				try{
					xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
					
				}catch(e){
					try{
						xmlHttp=new ActiveXObject("Microsoft.XMLHTTP")
					}catch(el){
						
					}
				}
				return xmlHttp;
			}
		}
		
		var user={
			account:"1",
			password:"2"
		}
		
		function prepareJSON(){
			var accountInfo=document.getElementById("account").value;
			var passwordInfo=document.getElementById("password").value;
			user.account=accountInfo;
			user.password=passwordInfo;
			return user.toJSONString();
		}
		
		
		var xmlHttp=new XMLHttpRequest();
		xmlHttp.open("POST","",true);
		
		xmlHttp.onreadystatechange==function(){
			if(xmlHttp.readyState==4){
				if(xmlHttp.status==200){
					alert("1")
				}
			}
		}
		
		var userJson=prepareJSON();
		xmlHttp.send(userJson);
		
		}
	}
	</script>
	
	
  </head>

  <body >
    <header id="header" class="header has-dark-background" role="banner">
  <div class="header-content www-layout">

    

    
    <section class="domains-trigger">
  <div class="fake-input-wrapper">
    <span class="placeholder-text-short"></span>
    <span class="placeholder-text-long"></span>

    <div class="fake-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>


    </div>

    <div class="long-arrow-right">
    

    </div>

</section>
  </div>


    


    

</header>


<main id="content" class="content page-beautiful" role="main">
	
  <nav id="sticky-header" class="header has-light-background">
  <div class="header-content www-layout">

    
    <h2 class="logo">
      <a class="is-borderless" href="/">

      </a>
    </h2>

    
    <section class="domains-trigger">
  <div class="fake-input-wrapper">
    <span class="placeholder-text-short"></span>
    <span class="placeholder-text-long"></span>

    <input class="fake-input" type="text" placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <div class="fake-cursor"></div>

    <div class="magnifying-glass">
      <svg viewBox="0 0 25 25">
  <circle cx="9.87" cy="9.93" r="8.87"/>
  <line x1="23.92" y1="23.98" x2="16.2" y2="16.26"/>
</svg>

    </div>

    <div class="long-arrow-right">
      <svg viewBox="0 0 36.44 25">
  <polyline points="23.69 1.15 35.04 12.5 23.69 23.85"/>
  <line x1="35.04" y1="12.5" x2="0.96" y2="12.5"/>
</svg>

    </div>

  </div>
</section>


    <p class="sticky-text"></p>
    <a class="sticky-cta cta button" href="/templates" data-test-attribute="header-get-started" data-direct="true"></a>
  </div>
	  
</nav>


<section id="home-summer-2017">
  <div id="hero-summer-2017">

  
  <div class="hero-imagery">

    
    <div class="scene-gallery" data-active-scene="restaurant">
      <div class="scene-wrapper" data-scene="restaurant">
  <div class="context">

    <img data-viewport="mobile" class="scene mobile" data-load="false" data-size-format="filename" alt="Beautiful websites for the restaurant industry." data-src="../static/images/restaurant-mobile.jpg?2"/>
    <img data-viewport="desktop" class="scene" data-load="false" data-size-format="filename" alt="Beautiful websites for the restaurant industry." data-src="../static/images/restaurant-scene.jpg?2"/>

    <div class="overlay-wrapper">
      <div class="overlay backdrop">
        <img data-load="false" data-size-format="filename" alt="Abstract architectural design objects." data-src="../static/images/restaurant-overlay-1.png?2" />
        <div class="device-screen">
          <img data-load="false" data-size-format="filename" alt="Example band website demo." data-src="../static/images/restaurant-screen.jpg?2" />
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="scene-wrapper" data-scene="small-business">
  <div class="context">
    <img data-viewport="mobile" class="scene mobile" data-load="false" data-size-format="filename" alt="Beautiful websites for the small-business industry." data-src="../static/images/small-business-mobile.jpg?2"/>
    <img data-viewport="desktop" class="scene" data-load="false" data-size-format="filename" alt="Beautiful websites for the small-business industry." data-src="../static/images/small-business-scene.jpg?2"/>
    <div class="overlay-wrapper">
      <div class="overlay backdrop">
        <img data-load="false" data-size-format="filename" alt="Abstract architectural design objects." data-src="../static/images/small-business-overlay-1.png?2" />
        <div class="device-screen">
          <img data-load="false" data-size-format="filename" alt="Example band website demo." data-src="../static/images/small-business-screen.jpg?2" />
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="scene-wrapper" data-scene="real-estate">
  <div class="context">

    <img data-viewport="mobile" class="scene mobile" data-load="false" data-size-format="filename" alt="Beautiful websites for the real estate industry." data-src="../static/images/real-estate-mobile.jpg?2"/>
    <img data-viewport="desktop" class="scene" data-load="false" data-size-format="filename" alt="Beautiful websites for the real estate industry." data-src="../static/images/real-estate-scene.jpg?2"/>
    <div class="overlay-wrapper">
      <div class="overlay backdrop">
        <img data-load="false" data-size-format="filename" alt="Abstract architectural design objects." data-src="../static/images/real-estate-overlay-1.png?2" />
        <div class="device-screen">
          <img data-load="false" data-size-format="filename" alt="Example real estate website demo." data-src="../static/images/real-estate-screen.jpg?2" />
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

  
  <div class="text">
    <h1 class="headsing">
      <span class="make-it" style="font-weight: 500">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome!</span>
      <div class="modifier-typer typer-container"></div>
      <div class="modifier-gallery">
        <span class="modifier" data-arrival-index="0">
          <span class="make-it"></span><span class="keyword"></span>
        </span>
        <span class="modifier">
          <span class="make-it"></span><span class="keyword"></span>
        </span>
        <span class="modifier">
          <span class="make-it"></span><span class="keyword"></span>
        </span>
        <span class="modifier">
          <span class="make-it"></span><span class="keyword"></span>
        </span>
        <span class="modifier">
          <span class="make-it"></span><span class="keyword"></span>
        </span>
      </div>
    
	  </h1>
    <h3 class="subheading"></h3>
    <div class="cta-wrapper">
	<div class="main-agileits">
			<div class="form-w3-agile" style="width: 400px;	">
			<form action="tea_home.html" target="_self" name="regForm" id="regForm" method="post">
					<input id="account" type="text" name="username" placeholder="账号" required="" />
					<input id="password" type="password" name="password" placeholder="密码" required="" />
				
					
				<div class="submit-w3l" >
					<div id="submit-w3l-submit">
						<input type="submit" style="font-size: 1.4em;" value="登          录"/>
					</div>
				</div>
			</form>
		</div>
		</div>	
		<div style="visibility: hidden">
      <a class="cta button"  href="/templates"><span style="font-size: 1.5em;">注册</span></a>
      <a class="cta button" href="/templates"><span style="font-size: 1.5em;">登录</span></a></div>
    </div>
  </div>

  </div>

</section>

<script src="../static/js/index.js" type="text/javascript"></script>
</main>




  </body>
</html>

