<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" href="/css/stu_task_style.css">
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<!--    <script type="text/javascript" src="/js/addLi.js"></script>-->
    <style type="text/css">
        a, img {
            border: 0;
        }

        b {
            color: #000;
        }
    </style>
    <style type="text/css">
        /* tablescroll */
        .tablescroll {
            font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: #fff;
        }

        .tablescroll td, .tablescroll_wrapper, .tablescroll_head, .tablescroll_foot {
            border: 1px solid #ccc;
        }

        .tablescroll td {
            padding: 5px;
        }

        .tablescroll_wrapper {
            border-left: 0;
        }

        .tablescroll_head {
            font-size: 12px;
            font-weight: bold;
            background-color: #eee;
            border-left: 0;
            border-top: 0;
            margin-bottom: 3px;
        }

        .tablescroll thead td {
            border-right: 0;
            border-bottom: 0;
        }

        .tablescroll tbody td {
            border-right: 0;
            border-bottom: 0;
        }

        .tablescroll tbody tr.first td {
            border-top: 0;
        }

        .tablescroll_foot {
            font-weight: bold;
            background-color: #eee;
            border-left: 0;
            border-top: 0;
            margin-top: 3px;
        }

        .tablescroll tfoot td {
            border-right: 0;
            border-bottom: 0;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/manhuaDialog.1.0.css">
    <link rel="stylesheet" type="text/css" href="/css/style_select.css">
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/manhuaDialog.1.0.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".test1").manhuaDialog({
                Event: "click",								//触发响应事件
                title: "什么是任务",					            //弹出层的标题
                type: "id",									//弹出层类型(text、容器ID、URL、Iframe)
                content: "detail",								//弹出层的内容获取(text文本、容器ID名称、URL地址、Iframe的地址)
                width: 590,									//弹出层的宽度
                height: 660,									//弹出层的高度
                scrollTop: 200,								//层滑动的高度也就是弹出层时离顶部滑动的距离
                isAuto: false,									//是否自动弹出
                time: 2000,									//设置弹出层时间，前提是isAuto=true
                isClose: false,  								//是否自动关闭
                timeOut: 5000									//设置自动关闭时间，前提是isClose=true
            });
        });
        $(function () {
            $(".test0").manhuaDialog({
                Event: "click",								//触发响应事件
                title: "什么是任务",					            //弹出层的标题
                type: "id",									//弹出层类型(text、容器ID、URL、Iframe)
                content: "self_judge",								//弹出层的内容获取(text文本、容器ID名称、URL地址、Iframe的地址)
                width: 590,									//弹出层的宽度
                height: 660,									//弹出层的高度
                scrollTop: 200,								//层滑动的高度也就是弹出层时离顶部滑动的距离
                isAuto: false,									//是否自动弹出
                time: 2000,									//设置弹出层时间，前提是isAuto=true
                isClose: false,  								//是否自动关闭
                timeOut: 5000									//设置自动关闭时间，前提是isClose=true
            });
        });
    </script>
    <style type="text/css">
        ul {
            list-style: none;
        }
    </style>




    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <style>
        /*  body{padding: 20px;}*/
        .demo-input {
            padding-left: 10px;
            height: 38px;
            min-width: 162px;
            line-height: 38px;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            border-radius: 2px;
        }

        .demo-footer {
            padding: 50px 0;
            color: #999;
            font-size: 14px;
        }

        .demo-footer a {
            padding: 0 5px;
            color: #01AAED;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="/css/default.css"/>

    <link rel="stylesheet" type="text/css" href="/css/component.css"/>

    <script src="/js/modernizr.custom.js"></script>
    <script type="text/javascript">

//        $(function () {
//
//
//		};
//



    </script>

	<script >
		$(function(){
            var sear = document.getElementById("search_tea");
            var plot = document.getElementById("sear_around");
            sear.onclick = function () {
                plot.style.display = "block";
//				test1();
//				alert("1")

//				test();
            }
			document.onclick = function(e){
				e = e || window.event;
				var dom =  e.srcElement|| e.target;
				if(dom.id !="sear_around" && plot.style.display == "block"){
					plot.style.display = "none";
				}
			};
		})
		function test1(){};
		function test(){
			var sear = document.getElementById("search_tea");
			var plot = document.getElementById("sear_around");
		}
	</script>
<style>
#test1111 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}

#test2222 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#test3333 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#test4444 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#test5555 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#test6666 {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}
#log_window1 {
    width:540px;
    height:400px;
	border-radius: 10px;
    background-color:#fff;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#log_window2 {
    width:540px;
    height:400px;
	border-radius: 10px;
    background-color:#fff;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#log_window3 {
    width:540px;
    height:600px;
	border-radius: 10px;
    background-color:#fff;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#log_window4 {
    width:540px;
    height:600px;
	border-radius: 10px;
    background-color:#fff;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
#log_window5 {
    width:540px;
    height:600px;
	border-radius: 10px;
    background-color:#fff;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
</style>
<script>
function shield1(){
    var s = document.getElementById("test1111");
    s.style.display = "block";

    var l = document.getElementById("log_window1");
    l.style.display = "block";
}

function cancel_shield1(){
    var s = document.getElementById("test1111");
    s.style.display = "none";

    var l = document.getElementById("log_window1");
    l.style.display = "none";
}
function shield2(){

    var s = document.getElementById("test2222");
    s.style.display = "block";

    var l = document.getElementById("log_window2");
    l.style.display = "block";
}

function cancel_shield2(){
    var s = document.getElementById("test2222");
    s.style.display = "none";

    var l = document.getElementById("log_window2");
    l.style.display = "none";
}
function shield3(){

    var s = document.getElementById("test3333");
    s.style.display = "block";

    var l = document.getElementById("log_window3");
    l.style.display = "block";
}

function cancel_shield3(){
    var s = document.getElementById("test3333");
    s.style.display = "none";

    var l = document.getElementById("log_window3");
    l.style.display = "none";
}
function shield4(){

    var s = document.getElementById("test4444");
    s.style.display = "block";

    var l = document.getElementById("log_window4");
    l.style.display = "block";
}

function cancel_shield4(){
    var s = document.getElementById("test4444");
    s.style.display = "none";

    var l = document.getElementById("log_window4");
    l.style.display = "none";
}
function shield5(){

    var s = document.getElementById("test5555");
    s.style.display = "block";

    var l = document.getElementById("log_window5");
    l.style.display = "block";
}

function cancel_shield5(){
    var s = document.getElementById("test5555");
    s.style.display = "none";

    var l = document.getElementById("log_window5");
    l.style.display = "none";
}
</script>
<style>
	.icon_temp{
		margin-top: -2px;
	}
	.judge{
		margin-top: 5px;
		margin-left: 33px;
	}
	</style>


    <script>
        $(function(){
            function cancel_shield1(){
                var s = document.getElementById("test1111");
                s.style.display = "none";

                var l = document.getElementById("log_window1");
                l.style.display = "none";
            }

            function cancel_shield2(){
                var s = document.getElementById("test2222");
                s.style.display = "none";

                var l = document.getElementById("log_window2");
                l.style.display = "none";
            }
            function cancel_shield5(){
                var s = document.getElementById("test5555");
                s.style.display = "none";

                var l = document.getElementById("log_window5");
                l.style.display = "none";
            }
            var tmp1=document.getElementById("tempBut1");
            var tmp2=document.getElementById("tempBut2");

            var sub1=document.getElementById("submitBut1");
            var sub2=document.getElementById("submitBut2");
            var sub3=document.getElementById("submitBtn");
            tmp1.onclick=function(){
                cancel_shield1();
            }
            sub1.onclick=function(){
                cancel_shield1();

            }
            tmp2.onclick=function(){
                cancel_shield2();
            }
            sub2.onclick=function(){
                cancel_shield2();

            }
            sub3.onclick=function(){
                cancel_shield5();
            }
        })
    </script>


	<script type="text/javascript">
//		$(function(){
//			var tes=document.getElementById("search_tea");
//			document.onclick=function(){
//				tes.style.display="none";
//			}
//			tes.onclick=function()
//			{
//				return false;
//			}
//		})
	</script>
	</head>


<body>
<div id="banner">
    <div id="banner_left" class="display">
        <div class="display" style="width: 70%;height: auto">
            <form class="form form-group" name="" method="post" style="height: auto">
                <input class="display form-control" id="search_tea" style="border: 0px solid #ccc;" type="text"
                       placeholder="搜索老师">
                <div id="sear_around" style="display: none;height: auto">
                    <div id="sear_float" class="display" style="box-shadow: 3px 3px 3px #333;height: auto">
                        <div class="content_left">
                            <div class="left_nav">
                                <ul id="searchUl">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                var stuId = null;
                var mebu_length = 0;
                $.ajax({
                    type: "get",
                    async: false, //同步请求
                    url: "/tea/teaExpList",
                    success: function (data) {
                        var html = "";
                        for (var i = 0; i < data.length; i++) {
                            //拼凑html串
                            html += " <li>\n" +
                                "                <div class=\"t\"><i></i>\n" +
                                "\t\t\t\t\n" +
                                "\t\t\t\t\t\t\t\t<div class=\"float_li_img\"></div>\n" +
                                "\t\t\t\t\t\t\t\t<span class=\"float_li_name\">" + data[i].nickname + "</span>\n" +
                                "\t\t\t\t</div>\n" +
                                "                <div class=\"txt\">";
                            var expList = data[i].pmsExps;
                            for (var j = 0; j < expList.length; j++) {
                                html += "<p>" + expList[j].expName + "<input type='button' value='申请加入' class='bbut'>" +
                                    "<input type='hidden' value='" + expList[j].id + "' class='expIdClass'/> </p>";
                            }
                            html += " </div>\n" +
                                "            </li>";
                        }
                        $("#searchUl").html(html);
                        // //给每一个button绑定点击事件
                        // $(".float_li_btn").each(function (k) {
                        //     $(this).click(function () {
                        //         alert(k);
                        //     })
                        // })
                    }
                    // I_CLICK.addClick();
                })
            </script>
        </div>
        <div class="display" style="width: 10%">
            <img class="display" style="width:25px;margin-left: 10px;" alt="" src="/images/add.png"></div>
    </div>
    <div class="display" style="width: 10%"></div>
    <div id="banner_mid" class="display" style="font-weight:500;font-size: 1.3em;">
        <center>师生项目交互平台</center>
    </div>
    <div style="width: 6%" class="display"></div>
    <div id="banner_right" style="padding: 0;" class="display">
        <div class="display" style="width: 35%;">
            <div class="display" style="color: #808080;font-size: 1.1em;">我的</div>
            <div class="display" style="color: #e5e5e5;margin-left: 10px;margin-left: 10px">|</div>
            <div class="display" style="color: #808080;font-size: 1.1em;margin-left: 10px;">日历</div>
            <div class="display" style="color: #e5e5e5;margin-left: 10px;">|</div>
        </div>
        <div style="width: 60%;" class="display">
            <img src="/images/question.png" style="width:25px;margin-left: 20px;">
            <img src="/images/ring.png" style="width: 25px;margin-left: 20px;">
            <img src="/images/message.png" style="width:25px;margin-left: 20px;">
            <img src="#" style="width:25px;margin-left: 20px;border: 1px solid red;"></div>
    </div>
</div>
<div id="guidance" style="z-index: 1;">
    <div id="left" class="display">
        <span id="left_origin"><a href="tea_home_backup.html">首页</a></span>
        <img src="/images/bigger.png" style="width: 15px;">
        <span id="left_name"><a href="tea_task.html">项目名</a></span>
    </div>
    <div id="mid" class="display">
        <!--			<span id="guidance_logo"><img src="#"></span>-->
        <a href="tea_task.html">
            <div id="task" class="display"><span class="left_length"><span>任务</span></span></div>
        </a>
        <a href="tea_file.html">
            <div id="file" class="display"><span class="left_length"><span>文件</span></span></div>
        </a>

        <a href="tea_eye.html">
            <div id="eye" class="display"><span class="left_length"><span>鹰眼</span></span></div>
        </a>

    </div>
    <div id="temp" class="display"></div>
    <div id="right" class="display ">
        <img src="/images/people.png" style="width: 20px;">
        <span style="color: #808080;">1</span>
        <img src="/images/menu.png" style="width: 20px;margin-left: 30px;">
        <span style="color: #808080">菜单</span>
    </div>
</div>
<div id="main thetable" style="z-index: 1;">
    <div class="main_style_left display"></div>
    <div class="main_style display " style="position: ;z-index: 1;">
        <span style="width:40%;display: inline-block;margin-top: -20px;"></span>
        <span class="title"><strong class="title_word" style="color: #000;">暂存</strong></span>
        <ul  class="pre-scrollable" id="addLi1" style="height:500px;list-style:none;">
            <li class="main_style_tip">
			<span>
				<img class="main_style_tip_img" src="/images/tip.png">
			</span>
                <div class="main_style_tip_word">
                    <p class="tip_word_title">
                        <b>我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务</b>
						<a > </a>
                    </p>
                    <div class="main_style_belly">
                        <div  class="main_style_belly_word">基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目</div>
						<div class="icon_time display">
							<strong style="margin-left: 10px;color: #fff;font-size: 0.9em;">2018-6-18截止</strong>
						</div>
                        <div class="icon_temp display" style="">

			<a  href="javascript:shield2()"><button class="md-trigger modify" type="button" data-modal="modal-1">修改</button></a>
                            <button class="delete" type="button">删除</button>
                        </div>
                    </div>

                </div>
            </li>
            <li class="main_style_tip">
			<span>
				<img class="main_style_tip_img" src="/images/tip.png">
			</span>
                <div class="main_style_tip_word">
                    <p class="tip_word_title">
                        <b>我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务</b>
						<a >
                        </a>
                    </p>
                    <div class="main_style_belly">
                        <div class="main_style_belly_word">基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目</div>
						<div class="icon_time display">
							<strong style="margin-left: 10px;color: #fff;font-size: 0.9em;">2018-6-18截止</strong>
						</div>
                        <div class="icon_temp display">
			<a  href="javascript:shield2()"><button class="md-trigger modify" type="button" data-modal="modal-1">修改</button></a>
                            <button class="delete" type="button">删除</button>
                        </div>
                    </div>

                </div>
            </li>

        </ul>
        <script type="text/javascript">
            //在页面加载时根据stuId查询暂存计划表
            function getTempPlanList() {
                var html="";
                var stuId=GetCookie("COOKIE_ID");
                $.ajax({
                    type:"get",
                    async:false, //同步请求
                    url:"/templan/list/"+stuId,
                    success:function (data) {
                        for(var i=data.length-1;i>=0;i--){
                            var expired=new Date(data[i].expired).toLocaleDateString();
                            html+="<li class=\"main_style_tip\">\n" +
                                "\t\t\t<span>\n" +
                                "\t\t\t\t<img class=\"main_style_tip_img\" src=\"/images/tip.png\">\n" +
                                "\t\t\t</span>\n" +
                                "                <div class=\"main_style_tip_word\">\n" +
                                "                    <p class=\"tip_word_title\">\n" +
                                "                        <b>"+data[i].title+"</b>\n" +
                                "                    </p>\n" +
                                "                    <div class=\"main_style_belly\">\n" +
                                "                        <div class='main_style_belly_word'>"+data[i].planDesc+"</div>\n" +
                                "\t\t\t\t\t\t<div class=\"icon_time display\">\n" +
                                "\t\t\t\t\t\t\t<strong class='tempExpired' style=\"margin-left: 10px;color: #fff;font-size: 0.9em;\">"+expired+"截止</strong>" +
                                "<input type='hidden' class='tempPlanId' value='"+data[i].id+"'/> \n" +
                                "\t\t\t\t\t\t</div>\n" +
                                "                        <div class=\"icon_temp display\" style=\"\">\n" +
                                "\t\t\t\t\t\t\t\n" +
                                "\t\t\t<a  href=\"javascript:shield2()\"><button class=\"md-trigger modify\" type=\"button\" data-modal=\"modal-1\">修改</button></a>\n" +
                                "                            <button class=\"delete\" type=\"button\">删除</button>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "\n" +
                                "                </div>\n" +
                                "            </li>";
                        }
                        $("#addLi1").html(html);
                    }
                })
            }
            getTempPlanList();
        </script>
        <div class="add_task">
			<a  href="javascript:shield1()">
				<img src="/images/add.png" class="add_icon">
				<span class="add_task_word test2">创建计划</span>
			</a>
        </div>



		<div id="log_window1" >
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

					<div id="md-close1"><a href="javascript:cancel_shield1()"  class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</a></div>
<!--					<button class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</button>-->
			<div style="margin-top: 20px;">
				<span class="detail_title_word display"   >计划标题</span>
<!--
				<form class="form-horizontal form-group" id="testForm1">
					<input class="input-control" type="text" placeholder="请输入计划标题">
				</form>
-->
				<form role="form" class="display">
					<div class="form-group">
						<input id="planTitle1" type="input" class="form-control" style="width: 342px;margin-left: 50px;" placeholder="请输入计划标题">
					</div>
				</form>
			</div>
			<div >
				<span class="detail_title_word display" style="margin-top: -170px;" >计划描述</span>
				<form role="form" class="display">
				  <div class="form-group" >
					<textarea id="planDesc1" class="form-control" style="margin-left: 50px;" placeholder="请输入计划描述" rows="3" cols="35"></textarea>
				  </div>
				</form>
			</div>

					<div >
						<div id="date1"><span class="date_word">开始时间</span><input style="color: #000;" type="text" class="demo-input date_time"  placeholder="请选择日期" id="test10"></div>
						<div id="date2"><span class="date_word">截止时间</span><input style="color: #000;" type="text" class="demo-input date_time" placeholder="请选择日期" id="test20"></div>

						<script src="/laydate/laydate.js"></script>  改成你的路径
						<script>
							lay('#version').html('-v'+ laydate.v);
							//执行一个laydate实例
							laydate.render({
								elem: '#test10' //指定元素
							});
							laydate.render({
								elem: '#test20' //指定元素
							});
						</script>
					</div>



			<script src="/laydate/laydate.js"></script> <!-- 改成你的路径 -->
			<script>
			lay('#version').html('-v'+ laydate.v);

			//执行一个laydate实例
			laydate.render({
			  elem: '#test1' //指定元素
			});
			</script>
			<button id="tempBut1" type="button" class="btn btn-info display" href="#" style="margin-bottom: 10px;margin-left: 300px;">暂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
			<button id="submitBut1" type="button" class="btn btn-info display" href="#" style="margin-top: -82px;margin-left:  400px;">确认提交</button>
		</div>
		<div id="log_window2" >
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

			<a href="javascript:cancel_shield2()" class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</a>
            <div style="margin-top: 20px;">
                <span class="detail_title_word display">计划标题</span>
                <!--
                                <form class="form-horizontal form-group" id="testForm1">
                                    <input class="input-control" type="text" placeholder="请输入计划标题">
                                </form>
                -->
                <form role="form" class="display">
                    <div class="form-group">
                        <input id="planTitle2" type="input" class="form-control" style="width: 342px;margin-left: 50px;"
                               placeholder="请输入计划标题">
                    </div>
                </form>
            </div>
            <div>
                <span class="detail_title_word display" style="margin-top: -170px;">计划描述</span>
                <form role="form" class="display">
                    <div class="form-group">
                        <textarea id="planDesc2" class="form-control" style="margin-left: 50px;" placeholder="请输入计划描述" rows="3"
                                  cols="35"></textarea>
                        <input type="hidden" id="templanId2" />
                    </div>
                </form>
            </div>

            <div>
                <div id="date11"><span class="date_word">开始时间</span><input id="test1" style="color: #000;" type="text"
                                                                          class="demo-input date_time"
                                                                          placeholder="请选择日期"></div>
                <div id="date22"><span class="date_word">截止时间</span><input id="test2" style="color: #000;" type="text"
                                                                          class="demo-input date_time"
                                                                          placeholder="请选择日期"></div>

                <script src="/laydate/laydate.js"></script>

                <script>
                    lay('#version').html('-v' + laydate.v);
                    //执行一个laydate实例
                    laydate.render({
                        elem: '#test1' //指定元素
                    });
                    laydate.render({
                        elem: '#test2' //指定元素
                    });
                </script>
            </div>
            <button id="tempBut2" type="button" class="btn btn-info display" href="#" style="margin-bottom: 10px;margin-left: 300px;">
                暂&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存
            </button>
            <button id="submitBut2" type="button" class="btn btn-info display" href="#" style="margin-top: -82px;margin-left:  400px;">
                确认提交
            </button>
        </div>
		<div id="log_window3" >
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

			<a href="javascript:cancel_shield3()" class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</a>

    <div style="border-bottom: 1px solid #bfbfbf;width: 100%;">
        <div class="display detail_header0">
			<div>
            <div class="display detail_header_img0">张吴</div>
            <strong class="display detail_header_word0" style="color: #000;">
                嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划</strong>
			</div>
				<div class="header_img00">
                <div class="display header_img01"><strong id="detailCreated" style="margin-left: 10px;"
                                                               class="display">2018-5-18开始</strong></div>

                <div class="display header_img02" style="margin-top: -40px;"><strong id="detailedExpired" style="margin-left: 10px;"
                                                               class="display">2018-6-18截止</strong></div>
            </div>
        </div>
    </div>

    <div  style="height:430px;" class="pre-scrollable">
        <div class="task_detail1">
            <div class="detail_title"><img class="display detail_title_img" src="/images/detail.png"><span
                    class="display detail_title_word">任务详情</span></div>
            <div class="detail_word" id="detailedPlanDesc">实装与本次改二舰娘相干的任务，可以从任务中获取新的装备以及改二所需的道具。并且开始上架与夏季相关的新家具，部分家具变换成夏季样式</div>

        </div>
        <div>
            <div class="detail_title"><img class="display detail_title_img " src="/images/write.png"><span
                    class="display  detail_title_word" style="vertical-align: middle">老师初评</span>
                <span style="vertical-align: middle" class="preJudgeWord" id="detailedAssessCreated"></span></div>
            <div class="detail_word" id="detailedAssess1">老师还没有进行初评哦~_~</div>
        </div>

    </div>
	</div>
		<div id="log_window4" >
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

			<a href="javascript:cancel_shield4()" class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</a>

    <div style="border-bottom: 1px solid #bfbfbf;width: 100%;">
        <div class="display detail_header0">
			<div>
            <div class="display detail_header_img0">张吴</div>
            <strong class="display detail_header_word0" style="color: #000;">
                嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划</strong>
            </div>
				<div class="header_img00">
                <div  class="display header_img01"><strong style="margin-left: 10px;"
                                                               class="display">2018-5-18开始</strong></div>

                <div  class="display header_img02" style="margin-top: -40px;"><strong style="margin-left: 10px;"
                                                               class="display">2018-6-18截止</strong></div>
            </div>
        </div>
    </div>

    <div  style="height:430px;" class="pre-scrollable">
        <div class="task_detail1">
            <div class="detail_title"><img class="display detail_title_img" src="/images/detail.png"><span
                    class="display detail_title_word">任务详情</span></div>
            <div class="detail_word">实装与本次改二舰娘相干的任务，可以从任务中获取新的装备以及改二所需的道具。并且开始上架与夏季相关的新家具，部分家具变换成夏季样式...</div>

        </div>
        <div >
            <div class="detail_title"><img class="display detail_title_img " src="/images/write.png"><span
                    class="display  detail_title_word"  style="vertical-align: middle">老师初评</span><span style="vertical-align: middle" class="preJudgeWord">2018-7-25</span></div>
            <div class="detail_word">挺好的，就是控制策略的地方需要注意要以燃耗为目标函数。挺好的，就是控制策略的地方需要注意要以燃耗为目标函数...</div>
        </div>
        <div>
            <div class="detail_title"><img class="display detail_title_img " src="/images/star0.png"><span
                    style="vertical-align: middle;" class="display  detail_title_word">总评</span><span
                    style="font-size: 2em;color: red;vertical-align: middle;margin-left: 30px;">A</span></div>
            <div class="detail_word">
                挺好的，就是控制策略的地方需要注意要以燃耗为目标函数。挺好的，就是控制策略的地方需要注意要以燃耗为目标函数
            </div>
        </div>

    </div>
	</div>
		<div id="log_window5" >
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

			<a href="javascript:cancel_shield5()" class="md-close" style="margin-left:450px;margin-top: 10px;">Close me!</a>

    <div style="border-bottom: 1px solid #bfbfbf;width: 100%;">
        <div class="display detail_header0">
			<div>
            <div class="display detail_header_img0" >张吴</div>
            <strong class="display detail_header_word0" style="color: #000;">
                嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划嫦娥三号着陆计划</strong>
            </div>
			<div class="header_img00" >
                <div class="display header_img01"><strong style="margin-left: 10px;"
                                                               class="display">2018-5-18开始</strong></div>

                <div  class="display header_img02" style="margin-top: -40px;"><strong style="margin-left: 10px;"
                                                               class="display">2018-6-18截止</strong></div>
            </div>
        </div>
    </div>

    <div  style="height:430px;" class="pre-scrollable">
        <div class="task_detail1">
            <div class="detail_title"><img class="display detail_title_img" src="/images/detail.png"><span
                    class="display detail_title_word">任务详情</span></div>
            <div class="detail_word">实装与本次改二舰娘相干的任务，可以从任务中获取新的装备以及改二所需的道具。并且开始上架与夏季相关的新家具，部分家具变换成夏季样式</div>

        </div>
        <div>
            <div class="detail_title"><img class="display detail_title_img " src="/images/write.png"><span
                    class="display  detail_title_word" style="vertical-align: middle">老师初评</span><span style="vertical-align: middle" class="preJudgeWord">2018-7-25</span></div>
            <div class="detail_word">挺好的，就是控制策略的地方需要注意要以燃耗为目标函数。挺好的，就是控制策略的地方需要注意要以燃耗为目标函数...</div>
        </div>
        <div >
            <div class="detail_title"><img class="display detail_title_img " src="/images/star0.png"><span
                    style="vertical-align: middle;" class="display  detail_title_word">总评</span><span
                    style="font-size: 2em;color: red;vertical-align: middle;margin-left: 30px;">A</span></div>
            <div class="detail_word">
                挺好的，就是控制策略的地方需要注意要以燃耗为目标函数。挺好的，就是控制策略的地方需要注意要以燃耗为目标函数
            </div>
        </div>
        <div>
            <div class="detail_title"><img class="display detail_title_img " src="/images/write.png"><span
                    class="display  detail_title_word">学生自评</span></div>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" style="width: 80%;margin-left: 75px;margin-top: 10px;"
                              placeholder="请输入自评"></textarea>
                </div>
            </form>
        </div>
        <button class="btn btn-info" id="submitBtn" href="#" style="margin-left: 400px;">确认提交</button>

    </div>
	</div>
</div>


    <div class="main_style_leng display"></div>
    <div class="main_style display " style="position: ;margin-top: -20px;">

        <span style="width:37%;display: inline-block;"></span>
        <span class="title" style=""><strong class="title_word" style="color: #000;">进行中</strong></span>
        <ul class="pre-scrollable" id="addLi2" style="height: 500px;">

            <li class="main_style_tip">
			<span>
				<img class="main_style_tip_img" src="/images/tip.png">
			</span>
                <div class="main_style_tip_word">
                    <p class="tip_word_title">
                        <b>我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务</b>
                        <a   href="javascript:shield3()">
                            <img class="word_title_img" src="/images/document.png" alt="查看详情">
                        </a>
                    </p>
                    <div class="main_style_belly">
                        <div class="main_style_belly_word">基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目......</div>
						<div class="icon_time display">
							<strong style="margin-left: 10px;color: #fff;font-size: 0.9em;">2018-6-18截止</strong>
						</div>
                        <div class="icon_temp display" style="">
                            <div class="judge" >未审核</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <script type="text/javascript">
            //在页面加载时根据stuId查询进行计划表
            function getPlanList() {
                var html="";
                var stuId=GetCookie("COOKIE_ID");
                $.ajax({
                    type:"get",
                    async:false, //同步请求
                    url:"/plan/andAssess1/"+stuId,
                    success:function (data) {
                        for(var i=data.length-1;i>=0;i--){
                            var expired=new Date(data[i].expired).toLocaleDateString();
                            html+=" <li class=\"main_style_tip\">\n" +
                                "\t\t\t<span>\n" +
                                "\t\t\t\t<img class=\"main_style_tip_img\" src=\"/images/tip.png\">\n" +
                                "\t\t\t</span>\n" +
                                "                <div class=\"main_style_tip_word\">\n" +
                                "                    <p class=\"tip_word_title\">\n" +
                                "                        <b>"+data[i].title +"</b>\n" +
                                "                        <a href='#' class='detailedInf'\">\n" +
                                "                            <img class=\"word_title_img\" src=\"/images/document.png\" alt=\"查看详情\">\n" +
                                "                        </a>\n" +
                                "                    </p>\n" +
                                "                    <div class=\"main_style_belly\">\n" +
                                "                        <div>"+data[i].planDesc+"</div>\n" +
                                "\t\t\t\t\t\t<div class=\"icon_time display\">\n" +
                                "\t\t\t\t\t\t\t<strong style=\"margin-left: 10px;color: #fff;font-size: 0.9em;\">"+expired+"截止</strong>" +
                                "<input type='hidden' class='planId' value='"+data[i].id+"'/> \n" +
                                "\t\t\t\t\t\t</div>\n" +
                                "                        <div class=\"icon_temp display\" style=\"\">";
                            if (data[i].assess==null){
                                html+=" <div class=\"judge\" >未审核</div>\n" +
                                    "                        </div>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </li>";
                            }
                            else {
                                html+=" <div class=\"judge\" >已审核</div>\n" +
                                    "                        </div>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </li>";
                            }
                        }
                        $("#addLi2").html(html);
                    }
                })
            }
            getPlanList();
        </script>

        <div class="add_task">
            <div class="" data-modal="">
                <!--				<img src="/images/add.png" class="add_icon">-->
                <span class="add_task_word test2">&nbsp;</span>
            </div>

        </div>
    </div>
    <div class="main_style_leng display"></div>
    <div class="main_style display " style="position: ">

        <span style="width:37%;display: inline-block;"></span>
        <span class="title" style=""><strong class="title_word" style="color: #000;">已结束</strong></span>
        <ul class="pre-scrollable" id="addLi3" style="height: 500px;">
            <li class="main_style_tip">
			<span>
				<img class="main_style_tip_img" src="/images/tip.png">
			</span>
                <div class="main_style_tip_word">
                    <p class="tip_word_title">
                        <b>我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务我的任务</b>
                        <a   href="javascript:shield4()">
                            <img class="word_title_img" src="/images/document.png" alt="查看详情">
                        </a>
                    </p>
                    <div class="main_style_belly">
                        <div class="main_style_belly_word">基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目基于微信服务的师生项目交互平台基于微信服务的师生项目......</div>
						<div class="icon_time display">
							<strong style="margin-left: 10px;color: #fff;font-size: 0.9em;">2018-6-18截止</strong>
						</div>
                        <div class="icon_temp">
                            <div class="assess" >未评价</div>
                            <a  href="javascript:shield5()"><button class="judge_self" style="margin-top:5px;" id="test0" type="button">自评</button></a>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
        <script type="text/javascript">
            function getExpiredPlanList() {
                var html="";
                var stuId=GetCookie("COOKIE_ID");
                $.ajax({
                    type:"get",
                    async:false,
                    url:"/plan/getExpiredList/"+stuId,
                    success:function (data) {
                        for(var i=data.length-1;i>=0;i--){
                            var expired=new Date(data[i].expired).toLocaleDateString();
                            html+="<li class=\"main_style_tip\">\n" +
                                "\t\t\t<span>\n" +
                                "\t\t\t\t<img class=\"main_style_tip_img\" src=\"/images/tip.png\">\n" +
                                "\t\t\t</span>\n" +
                                "                <div class=\"main_style_tip_word\">\n" +
                                "                    <p class=\"tip_word_title\">\n" +
                                "                        <b>"+data[i].title+"</b>\n" +
                                "                        <a   href=\"javascript:shield4()\">\n" +
                                "                            <img class=\"word_title_img\" src=\"/images/document.png\" alt=\"查看详情\">\n" +
                                "                        </a>\n" +
                                "                    </p>\n" +
                                "                    <div class=\"main_style_belly\">\n" +
                                "                        <div>"+data[i].planDesc+"</div>\n" +
                                "\t\t\t\t\t\t<div class=\"icon_time display\">\n" +
                                "\t\t\t\t\t\t\t<strong style=\"margin-left: 10px;color: #fff;font-size: 0.9em;\">"+expired+"截止</strong>\n" +
                                "\t\t\t\t\t\t</div>\n" +
                                "                        <div class=\"icon_temp\">\n" +
                                "                            <a  href=\"javascript:shield5()\"><button class=\"judge_self\" style=\"margin-top:5px;\" id=\"test0\" type=\"button\">自评</button></a>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "\n" +
                                "                </div>\n" +
                                "            </li>";
                        }
                        $("#addLi3").html(html);
                    }
                })
            }
            getExpiredPlanList();
        </script>

        <div class="add_task">
            <div class="" data-modal="">
                <!--				<img src="/images/add.png" class="add_icon">-->
                <span class="add_task_word test2">&nbsp;</span>
            </div>

        </div>
    </div>
    <div class="main_style_left display"></div>


</div>


<script>
    $(document).ready(function () {
        var zindex = 10;

        $("div.main_style_tip").click(function (e) {
            e.preventDefault();

            var isShowing = false;

            if ($(this).hasClass("show")) {
                isShowing = true
            }

            if ($("div.main").hasClass("showing")) {
                // a card is already in view
                $("div.main_style_tip.show")
                    .removeClass("show");

                if (isShowing) {
                    // this card was showing - reset the grid
                    $("div.main_style_tip")
                        .removeClass("showing");
                } else {
                    // this card isn't showing - get in with it
                    $(this)
                        .css({zIndex: zindex})
                        .addClass("show");

                }

                zindex++;

            } else {
                // no cards in view
                $("div.main_style_tip")
                    .addClass("showing");
                $(this)
                    .css({zIndex: zindex})
                    .addClass("show");

                zindex++;
            }

        });
    });
</script>


<script type="text/javascript">
    function dateFormat(date) {
        return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
    }
    //绑定暂存列表的修改和删除按钮事件
    function updateClick(){
        //绑定修改按钮
        $(".md-trigger").each(function (i) {
            var temPlanId=$(".tempPlanId").eq(i).attr("value");
            $(this).click(function () {
                alert(i);
                //需要将已有信息显示到修改div
                //根据id查询templan
                $.ajax({
                    type:"get",
                    //async:false,
                    url:"/templan/get/"+temPlanId,
                    success:function (data) {
                        var created=dateFormat(new Date(data.created));
                        var expired=dateFormat(new Date(data.expired));
                        $("#templanId2").attr("value",temPlanId);
                        $("#planTitle2").attr("value",data.title);
                        $("#planDesc2").attr("value",data.planDesc);
                        $("#test1").attr("value",created);
                        $("#test2").attr("value",expired);
                    }
                })
                // $("#planTitle2").attr("value",planTitle);
                // $("#planDesc2").attr("value",planDesc);
                // $("#test1").attr("value",created);
                // $("#test2").attr("value",expired);
            })
        });
        //绑定删除按钮
        $(".delete").each(function (i) {
            var temPlanId=$(".tempPlanId").eq(i).attr("value");
            $(this).click(function () {
                alert(i);
                $.ajax({
                    type:"get",
                    url:"/templan/del/"+temPlanId,
                    success:function (data) {
                        if (data.status==200)
                            alert("删除成功");
                    }
                });
                //刷新暂存页面
                getTempPlanList();
                //重新绑定按钮
                updateClick();
            });
        });
    }
    $(function () {
        updateClick();
    })
</script>
<script type="text/javascript">
    function submitPlanForm(url,message) {
        var planTitle=$("#planTitle1").attr("value");
        var planDesc=$("#planDesc1").attr("value");
        var created=$("#test10").attr("value");
        var expired=$("#test20").attr("value");
        var stuId=GetCookie("COOKIE_ID");
        //异步提交表单
        $.ajax({
            type:"post",
            async:false,
            url:url,
            data:{title:planTitle,planDesc:planDesc,created:created,expired:expired,stuId:stuId},
            success:function (data) {
                if(data.status==200)
                    alert(message);
            }
        })
    }
    $(function () {
        //绑定暂存按钮
        $("#tempBut1").click(function () {
            submitPlanForm("/templan/create","暂存成功");
            //刷新暂存页面
            getTempPlanList();
            //重新绑定修改按钮
            updateClick();
        });
        //绑定提交按钮
        $("#submitBut1").click(function () {
            submitPlanForm("/plan/create","提交成功");
            //刷新提交页面
            getPlanList();
            //重新绑定查看详情按钮
            detailedInfClick();
        })
    })
</script>
<script type="text/javascript">
    function submitPlanForm2(flag) {
        var planTitle=$("#planTitle2").attr("value");
        var planDesc=$("#planDesc2").attr("value");
        var created=$("#test1").attr("value");
        var expired=$("#test2").attr("value");
        var planId=$("#templanId2").attr("value");
        var stuId=GetCookie("COOKIE_ID");
        //如果flag==1，则保存
        if (flag==1){
            $.ajax({
                type:"post",
                async:false,
                url:"/templan/update",
                data:{id:planId,title:planTitle,created:created,expired:expired,planDesc:planDesc},
                success:function (data) {
                    if (data.status==200)
                        alert("更新成功");
                }
            });
            //刷新暂存栏
            getTempPlanList();
            //重新绑定按钮事件
            updateClick();
        }
        else{//提交任务，先在进行栏添加该任务，再在暂存栏删去该任务，
            $.ajax({
                type:"post",
                async:false,
                url:"/plan/create",
                data:{id:planId,title:planTitle,created:created,expired:expired,planDesc:planDesc,stuId:stuId},
                success:function (data) {
                    if (data.status==200)
                        alert("已成功添加");
                }
            })
            $.ajax({
                type:"get",
                async:false,
                url:"/templan/del/"+planId,
                success:function (data) {
                    if (data.status==200)
                        alert("已从暂存栏删除");
                }
            });
            //刷新暂存栏与进行栏
            getTempPlanList();
            getPlanList();
            //重新绑定按钮事件
            updateClick();
            //重新绑定查看事件
            detailedInfClick();
        }
    }
    //绑定按钮事件
    $(function () {
        //暂存按钮
        $("#tempBut2").click(function () {
            submitPlanForm2(1);
        });
        //提交按钮
        $("#submitBut2").click(function () {
            submitPlanForm2(2);
        })
    })
</script>
<script type="text/javascript">
    //给每一个button绑定点击事件
    $(function () {
        $(".bbut").each(function (i) {
            $(this).click(function () {
                //eq()函数返回js元素组第i个元素
                //attr()函数获取dom属性为value的值
                var expId = $(".expIdClass").eq(i).attr("value");
                var stuId = GetCookie("COOKIE_ID");
                var stuName = GetCookie("COOKIE_NICKNAME");
                //发送post请求
                $.post("/stu/join", {stuId: stuId, expId: expId, stuName: stuName}, function (data) {
                    if (data.status == 200)
                        alert("申请加入成功");
                })
                // $.get("/stu/join?stuId="+stuId+"&expId="+expId+"&stuName="+stuName,function (data) {
                //      if (data.status==200)
                //          alert("申请加入成功");
                // })
            })
        })
    });
</script>
<script type="text/javascript">
    //绑定查看详情按钮
    function detailedInfClick() {
        $(".detailedInf").each(function (i) {
            var planId=$(".planId").eq(i).attr("value");
            var stuName=GetCookie("COOKIE_NICKNAME");
            $(this).click(function () {
                alert("click");
                //动态渲染页面数据
                $.ajax({
                    type:"get",
                    async:false,
                    url:"/plan/andAssess1ById/"+planId,
                    success:function (data) {
                        alert("success");
                        alert(stuName);
                        alert(data.title);
                        var created=new Date(data.created).toLocaleDateString();
                        var expired=new Date(data.expired).toLocaleDateString();
                        $("#detail_header_img0").text(stuName);
                        $("#detail_header_word0").text(data.title);
                        $("#detailCreated").text(created+"开始");
                        $("#detailedExpired").text(expired+"截止");
                        $("#detailedPlanDesc").text(data.planDesc);
                        if (data.assess!=null)
                            $("#detailedAssess1").text(data.assess);
                        if (data.assessDate!=null)
                            $("#detailedAssessCreated").text(data.assessDate);
                    }
                })
                shield3();
            })
        })
    }
    $(function () {
        detailedInfClick();
    })
</script>

<script type="text/javascript">
    $(document).ready(function ($) {
        $('#thetable').tableScroll({
            width: 80,
            height: 250
        });
    });
</script>
<script charset="utf-8" type="text/javascript" src="/js/jquery1.js"></script>
<script charset="utf-8" type="text/javascript" src="/js/theme1.js"></script>
<link type="text/css" rel="stylesheet" href="/css/theme1.css">


<script src="/js/classie.js"></script>
<script src="/js/modalEffects.js"></script>

<script>
    // this is important for IEs
    var polyfilter_scriptpath = '/js/';
</script>
<script src="/js/cssParser.js"></script>
<script src="/js/css-filters-polyfill.js"></script>

<div id="test1111"></div>
<div id="test2222"></div>
<div id="test3333"></div>
<div id="test4444"></div>
<div id="test5555"></div>
<div id="test6666"></div>
</body>

</html>