<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
	<div class="radio">
    <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
    <label></label>
</div>
<div class="radio radio-success">
    <input type="radio" id="singleRadio2" value="option2" name="radioSingle1" checked aria-label="Single radio Two">
    <label></label>
</div> 
</body>
</html>
